<launch>
  <rosparam command="load" file="$(find thermal_range_calib)/config/ign_apartment_calib.yaml" />
  <node 
    pkg="thermal_range_calib"
    type="thermal_range_calib_ooad_multi"
    name="thermal_range_calib_ooad_multi"
    output="screen"
  />
  <node 
    pkg="rviz"
    type="rviz"
    name="rviz"
    args="-d $(find thermal_range_calib)/rviz_cfg/calib.rviz"
  />
</launch>